{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

        <div id="main">
            <div class="header">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle|richtext }}</h2>
            </div>

            <div class="content">
                    {{ page.body|richtext }}
            </div>
        </div>

{% endblock %}
