<!-- needy/needy_page.html -->

{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load qr_code %}

{% block body_class %}template-blogpage{% endblock %}
{% block content %}

{% if request.user == page.owner or user.groups.all.0.name == "Moderators" or user.groups.all.0.name == "Guest" %}
        <div id="main">
            <div class="header">
                <h1>{{self.name}} - {{self.father_name}} - {{self.grandfather_name}}</h1>
                <h2>subtitle - {{ page.title }}</h2>
            </div>
            <div class="content">
                <h2 class="content-subhead">beneficiary</h2>
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>name</td>
                          <td>{{self.name}}، {{self.father_name}}، {{self.grandfather_name}}</td>
                      </tr>
                      <tr>
                        <td>Date of birth</td>
                        <td>{{self.birth_date}}</td>
                      </tr>
                      <tr>
                        <td>ID number</td>
                        <td>{{self.id_number}}</td>
                      </tr>
                      <tr>
                        <td>ID type</td>
                        <td>{{self.id_type}}</td>
                      </tr>
                      <tr>
                        <td>contact info</td>
                        <td>{{self.needy_contact_info}}</td>
                      </tr>
                      <tr>
                        <td>البلدة</td>
                        <td>{{self.needypage.charity_near.town}}</td>
                      </tr>
                      <tr>
                        <td>Street address</td>
                        <td>{{self.current_street_home}}</td>
                      </tr>
                      <tr>
                        <td>Profession</td>
                        <td>{{self.profession}}</td>
                      </tr>
                      <tr>
                        <td>Job</td>
                        <td>{{self.current_business}}</td>
                      </tr>
                      <tr>
                        <td>Montly income</td>
                        <td>{{self.income}}</td>
                      </tr>
                      <tr>
                        <td>Residence type</td>
                        <td>{{self.residence_type}}</td>
                      </tr>
                      <tr>
                        <td>Special situation</td>
                        <td>
                        {% with special_situation=page.special_situation.all %}
                            {% if special_situation %}
                                    {% for category in special_situation %}
                                        <li style="display: inline">
                                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                                            {{ category.name }}
                                        </li>
                                    {% endfor %}
                            {% endif %}
                        {% endwith %}
                        </td>
                      </tr>
                      <tr>
                        <td>Dependents count</td>
                        <td>{{self.dependent_count}}</td>
                      </tr>
                      <tr>
                        <td>Dependents list</td>
                        <td>{{self.dependent_list}}</td>
                      </tr>
                      <tr>
                        <td>Rent expenses</td>
                        <td>{{self.rent_expenses}}</td>
                      </tr>
                      <tr>
                        <td>Charity near</td>
                        <td>{{self.charity_near}}</td>
                      </tr>
                      <tr>
                        <td>Charity head</td>
                        <td>{{self.needypage.charity_near.charity_head}}</td>
                      </tr>
                      <tr>
                        <td>Charity contact info</td>
                        <td>{{self.needypage.charity_near.charity_head_contact_info}}</td>
                      </tr>
                      <tr>
                        <td>Wallet address</td>
                        <td>{{self.wallet_address}}</td>
                      </tr>
                      <tr>
                        <td>Wallet Qrcode</td>
                        <td>{% qr_from_text self.wallet_address size="s" image_format="svg" %}</td>
                      </tr>
                      <tr>
                        <td>Single use wallet</td>
                        <td>{{self.single_use_wallet}}</td>
                      </tr>
                      <tr>
                        <td>Situation</td>
                        <td>{{self.issue|richtext}}</td>
                      </tr>
                      <tr>
                        <td>ID photo</td>
                        <td>{% image page.id_image width-400 %}</td>
                      </tr>
                      <tr>
                        <td>Door photo</td>
                        <td>{% image page.door_image width-400 %}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="{{ page.get_parent.url }}">Return to start</a>
            </div>

{% else %}
You are not authorized to see this page!
{% endif %}
{% endblock %}



<script src="{% static 'js/ui.js' %}"></script>

