{% extends "base.html" %}

{% load static wagtailcore_tags %}

{#% block body_class %}template-blogpage{% endblock %#}
{% block body_class %}template-needyindexpage{% endblock %}

{% block content %}

        <div id="main">
            <div class="header">
                <h1>{{ page.title }}</h1>
                <h2>A subtitle for {{ page.title }}</h2>
            </div>

            <div class="content">
                <h2 class="content-subhead">Listing</h2>
                <div>
                    {% for post in needypages %}
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                    {{ post.specific.intro }}
                    {{ post.specific.body|richtext }}
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
<script src="{% static 'js/ui.js' %}"></script>