<!-- needy/needy_page.html -->

{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load qr_code %}

{% block body_class %}template-blogpage{% endblock %}
{% block content %}

{% if request.user == page.owner or user.groups.all.0.name == "Moderators" or user.groups.all.0.name == "Guest" %}
        <div id="main">
            <div class="header">
                <h1>{{self.name}} - {{self.father_name}} - {{self.grandfather_name}}</h1>
                <h2>subtitle - {{ page.title }}</h2>
            </div>
            <div class="content">
                <h2 class="content-subhead">بيانات المستفيد</h2>
                <table class="pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>البيانات</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>الإسم</td>
                          <td>{{self.name}}، {{self.father_name}}، {{self.grandfather_name}}</td>
                      </tr>
                      <tr>
                        <td>تاريخ الميلاد</td>
                        <td>{{self.birth_date}}</td>
                      </tr>
                      <tr>
                        <td>رقم الهوية</td>
                        <td>{{self.id_number}}</td>
                      </tr>
                      <tr>
                        <td>نوع الهوية</td>
                        <td>{{self.id_type}}</td>
                      </tr>
                      <tr>
                        <td>رقم الهاتف</td>
                        <td>{{self.needy_contact_info}}</td>
                      </tr>
                      <tr>
                        <td>البلدة</td>
                        <td>{{self.needypage.charity_near.town}}</td>
                      </tr>
                      <tr>
                        <td>العنوان في الشارع</td>
                        <td>{{self.current_street_home}}</td>
                      </tr>
                      <tr>
                        <td>التخصص</td>
                        <td>{{self.profession}}</td>
                      </tr>
                      <tr>
                        <td>المهنة الحالية</td>
                        <td>{{self.current_business}}</td>
                      </tr>
                      <tr>
                        <td>الدخل الشهري</td>
                        <td>{{self.income}}</td>
                      </tr>
                      <tr>
                        <td>نوع السكن</td>
                        <td>{{self.residence_type}}</td>
                      </tr>
                      <tr>
                        <td>حالات خاصة</td>
                        <td>
                        {% with special_situation=page.special_situation.all %}
                            {% if special_situation %}
                                    {% for category in special_situation %}
                                        <li style="display: inline">
                                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                                            {{ category.name }}
                                        </li>
                                    {% endfor %}
                            {% endif %}
                        {% endwith %}
                        </td>
                      </tr>
                      <tr>
                        <td>عدد المعالين</td>
                        <td>{{self.dependent_count}}</td>
                      </tr>
                      <tr>
                        <td>قائمة المعالين</td>
                        <td>{{self.dependent_list}}</td>
                      </tr>
                      <tr>
                        <td>تكاليف الأجار</td>
                        <td>{{self.rent_expenses}}</td>
                      </tr>
                      <tr>
                        <td>المسجد القريب</td>
                        <td>{{self.charity_near}}</td>
                      </tr>
                      <tr>
                        <td>إمام المسجد</td>
                        <td>{{self.needypage.charity_near.charity_head}}</td>
                      </tr>
                      <tr>
                        <td>للتواصل مع إمام المسجد</td>
                        <td>{{self.needypage.charity_near.charity_head_contact_info}}</td>
                      </tr>
                      <tr>
                        <td>عنوان المحفظة</td>
                        <td>{{self.wallet_address}}</td>
                      </tr>
                      <tr>
                        <td>الرمز التربيعي للمحفظة</td>
                        <td>{% qr_from_text self.wallet_address size="s" image_format="svg" %}</td>
                      </tr>
                      <tr>
                        <td>محفظة مؤقتة</td>
                        <td>{{self.single_use_wallet}}</td>
                      </tr>
                      <tr>
                        <td>الحالة</td>
                        <td>{{self.issue|richtext}}</td>
                      </tr>
                      <tr>
                        <td>صورة الهوية</td>
                        <td>{% image page.id_image width-400 %}</td>
                      </tr>
                      <tr>
                        <td>صورة السكن</td>
                        <td>{% image page.door_image width-400 %}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="{{ page.get_parent.url }}">Return to start</a>
            </div>

{% else %}
لا يسمح لك برؤية هذه الصفحة
{% endif %}
{% endblock %}



<script src="{% static 'js/ui.js' %}"></script>

