{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- for purecss mobile view -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        {# Added Purecss style files #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/side-menu/styles.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="#">Mother of The Poor</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Need Help</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>

                    <li class="pure-menu-item menu-item-divided pure-menu-selected">
                        <a href="#" class="pure-menu-link">Donate</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">Contact</a>
                    </li>
                </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Page Title</h1>
            <h2>A subtitle for your page goes here</h2>
        </div>

        <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ui.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
