@charset "UTF-8";

body:after {
  right: 0;
}

body {
  color: #262626;
  direction:rtl;
}

@media screen and (min-width:50em) {
  .label,
  label {
    box-sizing: border-box;
    display: inline;
    float: right;
    width: 16.6666666667%;
    padding-left: 1.5%;
    padding-top: 1.2em;
    padding-right: 0
  }
  .boolean_field .label,
  .boolean_field label,
  .image_field .label,
  .image_field label,
  .model_choice_field .label,
  .model_choice_field label,
  .model_multiple_choice_field .label,
  .model_multiple_choice_field label,
  .radio_select .label,
  .radio_select label {
    padding-top: 0
  }
  .model_choice_field.select .label,
  .model_choice_field.select label {
    padding-top: 1.2em
  }
}


input[type=radio] {
  height: 12px;
  width: auto;
  position: relative;
  margin-left: 27px
}

input[type=radio]:before {
  border-radius: 100%;
  font-family: wagtail;
  font-style: normal;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -2px;
  cursor: pointer;
  display: block;
  content: "";
  width: 1em;
  height: 1em;
  line-height: 1.1em;
  padding: 4px;
  background-color: #fff;
  color: #e6e6e6;
  border: 1px solid #e6e6e6
}


input[type=checkbox] {
  height: 12px;
  width: auto;
  position: relative;
  margin-left: 27px
}


.avatar img {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  border: 0
}

.c-transition-push-enter {
  transform: translateX(-100%);
  transition: transform .2s ease, opacity .2s linear;
  opacity: 0
}

.c-transition-pop-enter,
.c-transition-push-leave-active {
  transform: translateX(100%);
  opacity: 0
}

.c-transition-pop-leave-active {
  transform: translateX(-100%);
  opacity: 0
}




.c-explorer__item__link .icon {
  width: 2em;
  height: 2em;
  color: #a5a5a5;
  margin-left: .75rem
}


.c-explorer__item__action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  padding: 0 .5em;
  line-height: 1;
  font-size: 2em;
  cursor: pointer;
  color: #a5a5a5;
  border: 0;
  border-right: 1px solid #333
}

.c-explorer__item__action .icon:before {
  margin-left: 0
}

.c-explorer__meta {
  margin-right: .5rem;
  color: #a5a5a5;
  font-size: 12px
}



@media screen and (min-width:50em) {
  .explorer {
    width: 485px;
    height: 100vh;
    position: fixed;
    z-index: 500;
    right: 200px
  }
}


@media screen and (min-width:50em) {
  .c-explorer {
    box-shadow: -2px 2px 5px rgba(0, 0, 0, .425)
  }
}

.c-explorer__header__title__inner {
  width: 70%;
  float: right;
  padding: 1em .75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.c-explorer__header__title__inner .icon {
  color: #a5a5a5;
  margin-left: .25rem;
  font-size: 1rem
}

.c-explorer__header__title__inner .icon--explorer-header {
  width: 1.25em;
  height: 1.25em;
  margin-left: .25rem;
  vertical-align: text-top;
  color: #a5a5a5
}

.c-explorer__header__select {
  position: relative
}

.c-explorer__header__select>select {
  width: calc(30% - 20px);
  height: calc(100% - 20px);
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  padding: 0 10px 0 0;
  background-color: #333;
  border-radius: 0;
  border-color: #4c4e4d;
  color: #fff
}


.c-explorer__header__select>span:after {
  z-index: 0;
  position: absolute;
  left: 10px;
  top: 13px;
  bottom: 0;
  width: 2em;
  font-family: wagtail;
  content: "";
  text-align: center;
  font-size: 1.2em;
  pointer-events: none;
  color: #d9d9d9
}


.hallotoolbar [class*=" icon-"]:before,
.hallotoolbar [class^=icon-],
.hallotoolbar [class^=icon-]:before,
.icon:after,
.icon:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: wagtail;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  speak: none;
  text-decoration: none;
  width: 1.3em;
  line-height: 1em;
  text-align: right;
  vertical-align: middle;
  margin-left: .2em
}

.hallotoolbar [class^=icon-]:after,
.icon:after {
  text-align: left
}

.hallotoolbar [class*=" icon-"]:before,
.hallotoolbar [class^=icon-],
.hallotoolbar [class^=icon-]:before {
  vertical-align: -10%;
  margin-left: 0
}


.icon.text-replace:before {
  margin-left: 0;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  line-height: 1.2em;
  text-align: center;
  vertical-align: middle
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(-1turn)
  }
}


.tab-nav {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: #e6e6e6
}

.tab-nav:after,
.tab-nav:before {
  content: " ";
  display: table
}

.tab-nav:after {
  clear: both
}

.tab-nav li {
  list-style-type: none;
  width: 33%;
  float: right;
  padding: 0;
  position: relative;
  margin-left: 2px
}

.tab-nav li:first-of-type {
  padding-right: 50px;
  margin-right: 0
}


.tab-nav a.errors:after {
  border-radius: 50px;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .1);
  position: absolute;
  left: -.5em;
  top: -.5em;
  z-index: 5;
  min-width: .9em;
  color: #fff;
  background: #cd3238;
  content: attr(data-count);
  padding: 0 .3em;
  line-height: 1.4em;
  text-align: center;
  font-size: .8em
}


@media screen and (min-width:50em) {
  .tab-nav.merged {
    background-color: #007d7e
  }
  .tab-nav li {
    width: auto;
    padding: 0
  }
  .tab-nav a {
    padding-right: 20px;
    padding-left: 20px
  }
  .tab-nav li.settings a {
    padding-right: 2em;
    padding-left: 2em
  }
  .modal-content .tab-nav li {
    padding: 0;
    min-width: 0
  }
  .modal-content .tab-nav li:first-of-type {
    padding-right: 50px
  }
}

@media screen and (max-width:49.9375em) {
  .tab-nav li:first-of-type {
    padding-right: 1.6em
  }
  .tab-nav li {
    width: auto
  }
}

.c-dropdown__button {
  display: inline-block;
  box-sizing: border-box;
  padding-right: .5rem;
  padding-left: .25rem;
  line-height: 1.85;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: .95em;
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.c-dropdown--large .c-dropdown__button {
  line-height: 2.9em;
  padding-right: .5rem;
  padding-left: .5rem
}

.c-dropdown--large .c-dropdown__button .icon-site {
  padding-left: .2rem
}


.c-dropdown__menu.c-dropdown__menu {
  margin-top: .75rem;
  padding: .75rem 1rem;
  min-width: 8rem;
  text-transform: none;
  position: absolute;
  z-index: 1000;
  animation: dropdownIn .1s ease-out backwards;
  list-style: none;
  text-align: right
}


.dropdown .button,
.dropdown button,
.dropdown input[type=button],
.dropdown input[type=reset],
.dropdown input[type=submit] {
  padding: 0 1em 0 5em;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: right;
  float: right
}

.dropdown ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  background-color: #007d7e;
  position: absolute;
  overflow: hidden;
  top: 100%;
  right: -2000px;
  z-index: 500;
  opacity: 0
}


.dropdown ul a:hover {
  background-color: #00676a
}

.dropdown ul a.icon {
  padding-left: 5em
}

.dropdown ul a.icon:after,
.dropdown ul a.icon:before {
  left: 1em
}

.dropdown ul a.shortcut {
  padding-left: 7em
}

.dropdown ul .kbd {
  position: absolute;
  left: 1em;
  font-weight: 600;
  font-size: .8em;
  color: rgba(0, 0, 0, .3)
}

.dropdown.open ul {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
  opacity: 1;
  right: 0;
  display: block
}


.dropdown .dropdown-toggle {
  color: #fff;
  text-transform: uppercase;
  background-color: #007d7e;
  line-height: 2.8em;
  cursor: pointer;
  height: 100%;
  border-right: 1px solid hsla(0, 0%, 100%, .2);
  position: absolute;
  left: 0;
  padding: 0 .5em;
  text-align: center
}

.dropdown .bicolor:hover {
  background-color: #00585a
}

.dropdown.dropdown-button .dropdown-toggle {
  border-radius: 3px 0 0 3px
}


.dropdown.dropdown-button.open .dropdown-toggle {
  border-radius: 3px 0 0 0
}


.dropdown.dropup.dropdown-button.open .dropdown-toggle {
  border-radius: 0 0 0 3px
}


.dropdown-button .button svg.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: text-top;
  margin-left: .5em
}

.help-critical,
.help-info,
.help-warning {
  border-radius: 3px;
  padding-right: 3.5em;
  position: relative
}

.help-critical:before,
.help-info:before,
.help-warning:before {
  font-family: wagtail;
  position: absolute;
  right: 1em;
  top: .7em;
  content: "";
  font-size: 1.4em
}


.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500
}


.modal-dialog {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  z-index: 510;
  height: 90%;
  width: 85%
}

.modal-dialog:before {
  content: "";
  height: 100%;
  margin-left: -.25em
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 490;
  background-color: #000
}

.modal .close {
  padding: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  z-index: 1
}

.modal-body {
  position: relative;
  padding-bottom: 2em
}

.modal-body header {
  padding-right: 2em;
  padding-left: 100px
}

.modal-body header.tab-merged {
  padding-right: 1.6em
}

.modal-body .header-title {
  padding-right: 0!important;
  margin-right: -36px
}

.modal-body .tab-merged .header-title {
  margin-right: 0
}

@media screen and (min-width:50em) {
  .modal-dialog {
    padding: 0 200px 2em 0
  }
  .modal-body header.tab-merged {
    padding-right: 50px
  }
}


.choice_field .input select~span:after,
.model_choice_field .input select~span:after,
.typed_choice_field .input select~span:after {
  border-radius: 6px 0 0 6px;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 0;
  width: 1.5em;
  font-family: wagtail;
  content: "";
  border: solid #e6e6e6;
  border-width: 0 1px 0 0;
  text-align: center;
  line-height: 1.4em;
  font-size: 3em;
  pointer-events: none;
  color: #d9d9d9;
  margin: 0 0 1px 1px
}


.choice_field .setting-site-switch-form .input select {
  padding-left: 5em
}


.required .field>label:after {
  content: "*";
  color: #cd3238;
  font-weight: 700;
  display: inline-block;
  margin-right: .5em;
  line-height: 1em;
  font-size: 13px
}


.date_field .input:before,
.date_time_field .input:before,
.iconfield .input:before,
.time_field .input:before,
.url_field .input:before {
  right: .3em
}

.date_field .input:after,
.date_time_field .input:after,
.iconfield .input:after,
.time_field .input:after,
.url_field .input:after {
  left: .5em
}

.date_field input:not([type=button]),
.date_field input:not([type=checkbox]),
.date_field input:not([type=radio]),
.date_field input:not([type=submit]),
.date_time_field input:not([type=button]),
.date_time_field input:not([type=checkbox]),
.date_time_field input:not([type=radio]),
.date_time_field input:not([type=submit]),
.iconfield input:not([type=button]),
.iconfield input:not([type=checkbox]),
.iconfield input:not([type=radio]),
.iconfield input:not([type=submit]),
.time_field input:not([type=button]),
.time_field input:not([type=checkbox]),
.time_field input:not([type=radio]),
.time_field input:not([type=submit]),
.url_field input:not([type=button]),
.url_field input:not([type=checkbox]),
.url_field input:not([type=radio]),
.url_field input:not([type=submit]) {
  padding-right: 2.5em
}


.date_field.field-small .input:before,
.date_time_field.field-small .input:before,
.iconfield.field-small .input:before,
.time_field.field-small .input:before,
.url_field.field-small .input:before {
  right: .5em
}

.date_field.field-small .input:after,
.date_time_field.field-small .input:after,
.iconfield.field-small .input:after,
.time_field.field-small .input:after,
.url_field.field-small .input:after {
  left: .5em
}



li.inline:first-child,
ul.inline li:first-child {
  margin-right: -1.5%
}

@media screen and (min-width:50em) {
  .help {
    opacity: 1
  }
  .fields {
    max-width: 800px
  }
  .field {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0
  }
  .field:after,
  .field:before {
    content: " ";
    display: table
  }
  .field:after {
    clear: both
  }
  .field-content {
    box-sizing: border-box;
    display: inline;
    width: 83.3333333333%;
    padding-left: 0
  }
  .field-col,
  .field-content {
    float: right;
    padding-right: 0
  }
  .field-col.col4 label {
    padding-left: 0
  }
  .field-col.col4 .field-content,
  .field-col.col4 label {
    box-sizing: border-box;
    display: inline;
    float: right;
    width: 50%;
    padding-right: 0
  }
  .field-col.col4 .field-content {
    padding-left: 1.5%
  }
  .field-col.col6 label {
    width: 33.3333333333%;
    padding-left: 0
  }
  .field-col.col6 .field-content,
  .field-col.col6 label {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-right: 0
  }
  .field-col.col6 .field-content {
    width: 66.6666666667%;
    padding-left: 1.5%
  }
  .label-above .field>.field-content,
  .label-above .field>label {
    display: block;
    padding: 0 0 .8em;
    float: none;
    width: auto
  }
}

.button.bicolor {
  border: 1px solid transparent;
  padding-right: 3.5em
}

.button.bicolor:before {
  font-size: 1rem;
  width: 2em
}

.button.bicolor .icon-wrapper,
.button.bicolor:before {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1.85em;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
  display: block;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit
}



.button+.button {
  margin-right: 1em
}


.button:hover.hover-no {
  background-color: #b4191f
}

.button.button-longrunning span {
  transform: scale(.9);
  display: inline-block;
  height: .9em;
  position: relative;
  opacity: 0;
  width: 0;
  visibility: hidden;
  text-align: center;
  padding-left: 0
}

.button.button-longrunning.button-longrunning-active span {
  transform: scale(1);
  visibility: visible;
  width: 1em;
  height: 1em;
  opacity: .8;
  padding-left: .5em
}

.button.button-longrunning span.icon-spinner:after {
  text-align: center;
  position: absolute;
  right: 0;
  margin: 0;
  line-height: 1em;
  display: inline-block;
  font-size: 1em
}

.button.button-longrunning.button-longrunning-active svg.icon-spinner {
  width: 1.5em;
  height: 1.5em;
  vertical-align: text-top;
  transform: scale(1);
  display: inline-block;
  opacity: .8;
  padding: 0;
  margin-left: .5em
}


@media screen and (min-width:50em) {
  .button {
    font-size: .95em;
    padding: 0 1.4em;
    height: 3em
  }
  .button.bicolor {
    padding-right: 3.7em
  }
  .button.bicolor:before {
    width: 2em;
    line-height: 2.2em;
    font-size: 1.1rem
  }
  .button.button-small.bicolor {
    padding-right: 3em
  }
  .button.button-small.bicolor:before {
    width: 1.8em;
    line-height: 1.65em
  }
}

.bicolor {
  border: 0;
  padding-right: 3.5em
}

.bicolor:before {
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
  line-height: 1.85em;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
  display: block
}

.button-small.bicolor {
  padding-right: 3.5em
}


.button-group .button,
.button-group button,
.button-group input[type=button],
.button-group input[type=reset],
.button-group input[type=submit] {
  border-radius: 0;
  float: right;
  margin-left: 1px;
  margin-right: 0
}


.button-group .button:first-child,
.button-group button:first-child,
.button-group input[type=button]:first-child,
.button-group input[type=reset]:first-child,
.button-group input[type=submit]:first-child {
  border-radius: 0 3px 3px 0
}

.button-group .button:last-child,
.button-group button:last-child,
.button-group input[type=button]:last-child,
.button-group input[type=reset]:last-child,
.button-group input[type=submit]:last-child {
  border-radius: 3px 0 0 3px;
  margin-left: 0
}


.multiple>li {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 1em 1.5em 1em 10em;
  margin-bottom: 1em;
  border: 1px solid #ededed
}

.multiple .controls {
  position: absolute;
  z-index: 1;
  left: 1em;
  top: 1em;
  color: #fff
}

.multiple .controls li {
  float: right;
  margin-left: 1px
}

.multiple .controls li:last-child {
  margin-left: 0
}

.chooser input[type=text] {
  float: right;
  width: 50%;
  margin-left: 1em
}


.chooser .chosen:before,
.chooser .unchosen:before {
  vertical-align: middle;
  font-family: wagtail;
  content: "";
  display: inline-block;
  color: #d9d9d9;
  line-height: 1em;
  font-size: 2.5em;
  margin-left: .3em
}

.chooser .actions li {
  float: right;
  margin: .3em
}

.document-chooser .chosen .title,
.page-chooser .chosen .title,
.snippet-chooser .chosen .title {
  color: #333;
  padding-right: 1em;
  display: inline-block
}




.image-chooser .chosen {
  padding-right: 130px
}

.image-chooser .chosen .preview-image {
  float: right;
  margin-right: -130px;
  margin-left: 1em;
  max-width: 130px
}


.tag:before {
  font-family: wagtail;
  display: inline-block;
  color: #fff;
  content: "";
  padding-left: .5em
}

.taglist .tag {
  margin-left: .8em
}


@media screen and (min-width:50em) {
  .tagfilter legend {
    box-sizing: border-box;
    display: inline;
    float: right;
    width: 16.6666666667%;
    padding-left: 1.5%;
    padding-right: 0
  }
}

.tagfilter a {
  font-size: .9em
}

.tagfilter .button.bicolor.icon-cross {
  padding-right: 2em
}

.tagfilter .button.bicolor.icon-cross:before {
  background-color: transparent
}

ul.listing {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0
}


.listing ul {
  list-style-type: none;
  padding-right: 0
}



.listing thead th {
  font-size: .9em;
  text-align: right;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase
}

.listing thead th a.icon:after {
  opacity: .5;
  left: 0
}

.listing.full-width td:first-child,
.listing.full-width th:first-child {
  padding-right: 20px
}


.listing.full-width .divider td {
  padding-right: 20px
}

.listing .bulk {
  padding-left: 0
}



.listing .actions>li {
  float: right;
  padding: 0 0 0 .5em;
  margin: 0 0 .5em
}


.listing .moderate-actions form {
  float: right;
  margin: 0 0 1em 1em
}

.listing th.ord .icon:before {
  margin-left: 2px
}


.listing table .no-results-message {
  padding-right: 20px
}


.listing .indicator {
  margin-left: 0;
  font-size: 1em;
  opacity: .7
}


.page-explorer .listing .index .privacy-indicator {
  font-size: 1em;
  opacity: 1;
  position: absolute;
  left: 10%;
  top: 2em
}


.page-explorer .listing .table-headers .title,
.page-explorer .listing tbody .title {
  padding-right: 0
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0
}


.pagination .prev {
  float: right
}

.pagination .next {
  float: left
}


.filter-title {
  float: right;
  text-transform: uppercase;
  font-size: .95em;
  padding: 1em;
  margin: 0 0 0 1em;
  background-color: #e6e6e6
}

.filter-options {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  overflow: hidden
}


.filter-options li {
  padding: .8em;
  float: right
}

@media screen and (min-width:50em) {
  .listing.horiz>li {
    float: right
  }
  .listing.images {
    border: solid #e6e6e6;
    border-width: 0 1px 0 0
  }
  .listing.images:after,
  .listing.images:before {
    content: " ";
    display: table
  }
  .listing.images:after {
    clear: both
  }
  .listing.images>li {
    padding: 1.3em;
    width: 200px;
    height: 220px;
    text-align: center;
    margin-top: -1px;
    border: 1px solid #e6e6e6;
    border-right-width: 0
  }
  .listing.images>li .image {
    text-align: center;
    height: 180px
  }
  .listing.images>li .image:before {
    content: "";
    height: 100%;
    margin-left: -.25em
  }
  .listing.images>li .image:before,
  .listing.images>li .image img {
    display: inline-block;
    vertical-align: middle
  }
  .listing.images>li:hover {
    background-color: #fdfdfd
  }
  .listing.images>li:hover img {
    border-color: #007d7e
  }
  .listing .actions {
    visibility: hidden
  }
  .listing .index .actions {
    visibility: visible
  }
  .listing td:focus-within .actions,
  .listing td:hover .actions {
    visibility: visible
  }
  .listing .no-children {
    border-color: transparent
  }
  .listing .no-children a {
    opacity: 0
  }
  .listing tr:hover .no-children a {
    opacity: 1
  }
  .listing tr:hover .children {
    background-color: #007d7e
  }
  .listing tr:hover .children a:before {
    color: #fff
  }
  .listing td.children:hover {
    background-color: #00676a
  }
  .listing table .no-results-message {
    padding-right: 50px
  }
  .listing.full-width td:first-child,
  .listing.full-width th:first-child {
    padding-right: 25px
  }
  .listing.full-width .divider td {
    padding-right: 50px
  }
}


td.ord .handle {
  margin-top: -28px;
  margin-right: 13px
}

.messages .buttons {
  margin-right: 1em
}

.messages>ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  position: relative;
  top: -100px;
  opacity: 0
}

.messages>ul>li {
  padding: 1.6em 1.6em 1.6em 3em;
  color: #fff
}

.messages>ul>li:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: .5em;
  font-size: 1.5em;
  vertical-align: middle
}

.messages-icon {
  vertical-align: text-top;
  margin-left: .5em;
  width: 1.5em;
  height: 1.5em
}


.messages .errorlist {
  margin: .5em 1em 0 0
}

@media screen and (min-width:50em) {
  .messages>ul>li {
    padding-right: 1.6em;
    padding-left: 3em
  }
}

header h1.icon:before {
  width: 1em;
  display: none;
  margin-left: .4em;
  font-size: 1.5em
}

header .col {
  float: right;
  margin-left: 2em
}

header .left {
  float: right
}

header .right {
  text-align: left;
  float: left
}

header.tab-merged {
  padding-right: 50px;
  padding-left: 50px
}

header.tab-merged .right:last-child {
  padding-left: 0
}

@media screen and (max-width:49.9375em) {
  header.no-border,
  header.tab-merged {
    padding-right: 1.6em;
    padding-left: 1.6em;
    padding-top: 11px
  }
  header.no-border .nice-padding,
  header.tab-merged .nice-padding {
    margin-right: -50px
  }
}

@media screen and (min-width:50em) {
  header {
    padding-top: 1.5em;
    padding-bottom: 1.5em
  }
  header .left {
    float: right;
    margin-left: 0
  }
  header .left:first-child {
    padding-bottom: 0;
    float: right
  }
  header .second {
    clear: none
  }
  header .second .left,
  header .second .right {
    float: left
  }
  header h1.icon:before {
    display: inline-block
  }
  header .col3 {
    box-sizing: border-box;
    display: inline;
    float: right;
    width: 25%;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  header .col3.actionbutton {
    width: auto
  }
  header .col6 {
    width: 50%
  }
  header .col6,
  header .col9 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  header .col9 {
    width: 75%
  }
}

@media screen and (max-width:49.9375em) {
  .header-title {
    padding-right: 50px
  }
}

.header-title-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: text-top;
  margin-left: .5em
}

.progress .bar {
  border-radius: 1.5em;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.2em;
  color: #fff;
  font-size: .85em;
  background-color: #007d7e;
  height: 1.2em;
  padding-left: 1em
}

body.ready .progress .bar {
  transition: width .3s ease
}

.nav-wrapper {
  position: relative;
  margin-right: -200px;
  width: 200px;
  float: right;
  display: flex;
  flex-direction: column;
  height: 100%
}

.nav-toggle.icon {
  position: absolute;
  padding-right: 20px;
  cursor: pointer
}

.nav-main a:focus,
.nav-main a:hover {
  background-color: hsla(0, 0%, 39.2%, .15);
  color: #fff;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, .3)
}

.nav-main .menu-item a {
  position: relative;
  white-space: nowrap;
  border-right: 3px solid transparent
}

.nav-main .menu-item a:before {
  font-size: 1rem;
  vertical-align: -15%;
  margin-left: .5em
}

.nav-main .menu-item a:after {
  font-size: 1.5em;
  position: absolute;
  left: .5em;
  top: .5em;
  margin: 0
}

.nav-main .menu-active {
  background: #1a1a1a;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, .3)
}

.nav-main .menu-active>a {
  border-right-color: #f37e77;
  color: #fff
}

.nav-main .footer-submenu a {
  border-right: 3px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.nav-main .footer-submenu a:before {
  font-size: 1rem;
  margin-left: .5em;
  vertical-align: -10%
}

.icon--menuitem {
  width: 1.25em;
  height: 1.25em;
  margin-left: .5em;
  vertical-align: text-top
}

@media screen and (min-width:50em) {
  .icon--submenu-trigger {
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .8125em;
    left: .5em
  }
  body.ready .icon--submenu-trigger {
    transition: transform .3s ease
  }
  .menu-item.submenu-active .icon--submenu-trigger {
    transform-origin: 50% 50%;
    transform: rotate(-180deg)
  }
}

.nav-submenu .menu-item a {
  white-space: normal;
  padding: .9em 4.5em .9em 1.7em
}

.nav-submenu .menu-item a:before {
  margin-right: -1.5em
}

.nav-submenu .menu-item a .icon--menuitem {
  margin-right: -1.75em
}

.nav-search input {
  cursor: pointer;
  border: 1px solid #999;
  background-color: #333;
  color: #ccc;
  padding: .8em 1em .8em 2.5em;
  font-weight: 600
}

.nav-search button {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 1em;
  bottom: 0;
  padding: 0;
  width: 3em
}

body.nav-open .wrapper {
  transform: translate3d(-200px, 0, 0)
}



body.explorer-open .wrapper {
  transform: translate3d(-320px, 0, 0)
}

body.explorer-open .nav-wrapper {
  margin-right: -320px;
  width: 320px
}

body.explorer-open .nav-main {
  display: none
}

@media screen and (min-width:50em) {
  .wrapper,
  body.nav-open .wrapper {
    transform: none;
    padding-right: 200px
  }
  .nav-wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: 0
  }
  .nav-wrapper .inner {
    height: 100%;
    position: fixed;
    width: 200px;
    z-index: 26
  }
  .nav-toggle {
    display: none
  }
  .nav-main {
    overflow: auto;
    margin-bottom: 50px
  }
  body.ready .nav-main {
    transition: margin-bottom .2s ease
  }
  .nav-main .footer {
    position: fixed;
    width: 200px;
    bottom: 0;
    background-color: #262626
  }
  .nav-main .footer-submenu {
    max-height: 0
  }
  body.ready .nav-main .footer-submenu {
    transition: max-height .2s ease
  }
  .nav-main--open-footer {
    margin-bottom: 127px
  }
  .nav-main--open-footer .footer-submenu {
    max-height: 77px
  }
  .nav-main .account {
    background: #1a1a1a;
    color: #ccc;
    text-transform: uppercase;
    display: block;
    cursor: pointer
  }
  .nav-main .account:after,
  .nav-main .account:before {
    content: " ";
    display: table
  }
  .nav-main .account:after {
    clear: both
  }
  .nav-main .account:hover {
    background-color: hsla(0, 0%, 39.2%, .15);
    color: #fff;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, .3)
  }
  .nav-main .account .avatar {
    float: right;
    margin-left: .9em
  }
  .nav-main .account .avatar:before {
    color: inherit;
    border-color: inherit
  }
  .nav-main .account em {
    box-sizing: border-box;
    padding-left: 1.8em;
    margin-top: 1.2em;
    font-style: normal;
    font-weight: 700;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: right
  }
  .nav-main .account em:after {
    font-size: 1.5em;
    position: absolute;
    left: .25em
  }
  .nav-submenu {
    transform: translateZ(0);
    position: fixed;
    height: 100vh;
    width: 0;
    padding: 0;
    top: 0;
    right: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column
  }
  .nav-submenu__list,
  .nav-submenu h2 {
    width: 200px
  }
  .nav-submenu h2 {
    display: block;
    padding: .2em 0;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: none;
    text-align: center;
    color: #ccc
  }
  .nav-submenu h2:before {
    font-size: 4em;
    display: block;
    text-align: center;
    margin: 0 0 .2em;
    width: 100%;
    opacity: .15
  }
  .nav-submenu__list {
    overflow: auto;
    flex-grow: 1
  }
  .nav-submenu__footer {
    line-height: 50px;
    padding: 0
  }
  li.submenu-active {
    background: #262626
  }
  li.submenu-active>a {
    text-shadow: 1px -1px 0 rgba(0, 0, 0, .3)
  }
  li.submenu-active>a:hover {
    background-color: transparent
  }
  li.submenu-active .nav-submenu {
    box-shadow: -2px 0 2px rgba(0, 0, 0, .35);
    width: 200px
  }
  body.ready li.submenu-active .nav-submenu {
    transition: width .2s ease
  }
  li.submenu-active .nav-submenu a {
    padding-right: 3.5em
  }
  body.nav-open .content-wrapper {
    position: relative
  }
  body.explorer-open {
    overflow: hidden
  }
  body.explorer-open:after {
    opacity: 1;
    visibility: visible
  }
  body.explorer-open .wrapper {
    transform: none
  }
  body.explorer-open .nav-wrapper {
    margin-right: 0;
    width: 200px
  }
  body.explorer-open .nav-main {
    display: block
  }
}

@media (-ms-high-contrast:none),
all and (-ms-high-contrast:active) {
  .wrapper {
    right: 0
  }
  body.ready .wrapper {
    transition: right .2s ease
  }
  body.nav-open .wrapper {
    transform: none;
    right: 200px;
    position: relative
  }
  body.explorer-open .wrapper {
    transform: none;
    right: 320px
  }
  body.explorer-open .nav-wrapper {
    width: 320px
  }
}

@media (min-width:50em) and (-ms-high-contrast:none),
all and (min-width:50em) and (-ms-high-contrast:active) {
  body.explorer-open .wrapper {
    right: 0
  }
  body.explorer-open .nav-wrapper {
    width: 200px
  }
}

.c-indicator {
  display: inline-block;
  border-radius: 50rem;
  width: .625em;
  height: .625em;
  margin-top: -.125rem;
  margin-left: .25rem;
  font-size: 1rem;
  vertical-align: middle
}

.is-live\+draft .c-indicator:before {
  content: "";
  width: .3125em;
  height: .625em;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-right-radius: 50rem;
  border-top-right-radius: 50rem;
  background: #59b524;
  transform: rotate(-45deg);
  transform-origin: 0% 50%
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  right: 50%;
  margin-right: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-top-color: #000;
  border-width: 5px 5px 0
}

.tooltip.top-right .tooltip-arrow {
  left: 5px;
  bottom: 0;
  border-top-color: #000;
  border-width: 5px 5px 0
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000;
  border-width: 5px 0 5px 5px
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000;
  border-width: 5px 5px 5px 0
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  right: 50%;
  margin-right: -5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px
}

@keyframes tail-wag {
  0% {
    transform: rotate(3deg)
  }
  to {
    transform: rotate(-7deg)
  }
}

.wagtail-logo-container__mobile {
  margin-left: 10px;
  background-color: #555;
  border-radius: 50%;
  padding: 5px 7.5px
}

.wagtail-logo-container__mobile .wagtail-logo {
  width: 20px;
  float: right;
  border: 0
}

.wagtail-logo-container__desktop .wagtail-logo {
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: inherit
}

.wagtail-logo-container__desktop.logo-serious:hover {
  transform: rotate(-4deg)
}

.wagtail-logo-container__desktop.logo-playful:hover {
  transform: rotate(-8deg);
  transition: transform 1.2s ease
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border-top: 0 solid #fafafa;
  min-height: 100%
}


@media screen and (min-width:50em) {
  .content-wrapper {
    border-bottom-left-radius: 5px
  }
  .content {
    border-top: 0;
    background-color: none;
    padding-top: 0
  }
}


@media screen and (min-width:50em) {
  .col1 {
    width: 8.3333333333%
  }
  .col1,
  .col2 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .col2 {
    width: 16.6666666667%
  }
  .col3 {
    width: 25%
  }
  .col3,
  .col4 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .col4 {
    width: 33.3333333333%
  }
  .col5 {
    width: 41.6666666667%
  }
  .col5,
  .col6 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .col6 {
    width: 50%
  }
  .col7 {
    width: 58.3333333333%
  }
  .col7,
  .col8 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .col8 {
    width: 66.6666666667%
  }
  .col9 {
    width: 75%
  }
  .col9,
  .col10 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .col10 {
    width: 83.3333333333%
  }
  .col11 {
    width: 91.6666666667%
  }
  .col11,
  .col12 {
    box-sizing: border-box;
    display: inline;
    float: right;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .col12 {
    width: 100%
  }
  .row {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0
  }
  .row:after,
  .row:before {
    content: " ";
    display: table
  }
  .row:after {
    clear: both
  }
  .row-flush {
    margin-right: -1.5%;
    margin-left: -1.5%
  }
}

.breadcrumb {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  overflow: hidden;
  padding-top: 1.4em;
  font-size: .85em;
  line-height: 1.5em;
  margin-right: 2em;
  background: #007d7e
}

.breadcrumb li {
  display: block;
  float: right;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  padding: 4px
}


.breadcrumb .arrow_right_icon {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  color: #00585a;
  transform: scale(1.75) translate(-0.3em, .1em)
}

@media screen and (min-width:50em) {
  .breadcrumb {
    padding-top: 0;
    background: #00676a;
    margin-right: -50px;
    margin-left: -50px
  }
  .breadcrumb .home_icon {
    margin-right: 1.25em
  }
  .breadcrumb .arrow_right_icon {
    color: #007d7e
  }
}

footer {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0 2px hsla(0, 0%, 100%, .5);
  background: #333;
  color: #fff;
  margin-top: 20px
}

footer ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0
}



footer li {
  float: right;
  margin-left: 1em
}

footer li:last-child,
footer li li {
  margin-left: 0
}

footer .actions .dropdown .button,
footer .actions .dropdown button,
footer .actions .dropdown input[type=button],
footer .actions .dropdown input[type=reset],
footer .actions .dropdown input[type=submit] {
  padding-left: 2.6em
}

footer .meta {
  float: left;
  text-align: left;
  padding: 7px 1.5%;
  font-size: .85em
}

footer .meta p {
  margin: 0 0 0 3%;
  white-space: nowrap
}

@media screen and (max-width:49.9375em) {
  footer .actions,
  footer .preview,
  footer .preview .dropdown {
    width: 100%
  }
  footer .meta p {
    white-space: normal;
    width: 100%
  }
  footer .meta .avatar {
    right: auto
  }
}

@media screen and (min-width:50em) {
  footer {
    margin-right: calc(50px - .75em);
    margin-left: 50px;
    width: auto;
    position: fixed;
    bottom: 0;
    padding: .75em
  }
}

.loading-mask.loading:before {
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: 1;
  background-color: hsla(0, 0%, 100%, .5)
}

.loading-mask.loading:after {
  font-size: 30px;
  width: 30px;
  line-height: 30px;
  right: 50%;
  top: 50%;
  margin: -15px -15px 0 0;
  font-family: wagtail;
  animation: spin .5s linear infinite;
  content: "";
  z-index: 2;
  color: #007d7e
}


.button-select .button-select__option {
  margin-right: 0
}

.skiplink {
  display: block;
  position: fixed;
  top: -1000rem;
  right: 1rem;
  z-index: 30
}

.workflow-tasks__task {
  display: inline-block;
  background-color: #f8ffff;
  border: 2px solid #7ebebe;
  border-radius: 5px;
  color: #007d7e;
  box-sizing: border-box;
  width: 117px;
  height: 56px;
  margin: 7px;
  padding-right: 9px;
  padding-left: 9px
}



.xdsoft_datetimepicker {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
  background: #fff;
  border: 1px solid #00b0b1;
  padding: 2px 0 8px 8px;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  display: none
}

.xdsoft_datetimepicker iframe {
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 210px;
  background: transparent;
  border: 0
}

.xdsoft_datetimepicker .xdsoft_datepicker {
  float: right;
  margin-right: 8px
}


.xdsoft_datetimepicker .xdsoft_prev {
  float: right
}

.xdsoft_datetimepicker .xdsoft_prev:before {
  content: ""
}

.xdsoft_datetimepicker .xdsoft_today_button {
  float: right;
  margin-right: 5px
}

.xdsoft_datetimepicker .xdsoft_today_button:before {
  content: ""
}

.xdsoft_datetimepicker .xdsoft_next {
  float: left
}

.xdsoft_datetimepicker .xdsoft_next:before {
  content: ""
}

.xdsoft_datetimepicker .xdsoft_timepicker {
  min-width: 70px;
  float: right;
  text-align: center;
  margin-right: 8px;
  margin-top: 0
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 1em;
  text-align: center;
  border-collapse: collapse;
  cursor: pointer;
  border-bottom-width: 0;
  height: 2.3em;
  line-height: 2.3em;
  padding-right: .6em;
  padding-left: .6em
}

.xdsoft_datetimepicker .xdsoft_label {
  display: inline;
  position: relative;
  z-index: 9999;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fff;
  float: right;
  width: 182px;
  text-align: center;
  cursor: pointer
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 101;
  display: none;
  background: #fff;
  max-height: 160px;
  overflow-y: hidden
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_monthselect {
  left: -7px
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_yearselect {
  left: 2px
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover {
  color: #fff;
  background: #ff8000
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option {
  padding: 2px 5px 2px 15px
}


.xdsoft_datetimepicker .xdsoft_month {
  width: 90px;
  text-align: left
}

.xdsoft_datetimepicker .xdsoft_calendar td>div {
  padding-left: 5px
}

.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th {
  width: 14.285%;
  border: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  text-align: left;
  padding: 5px 7px;
  border-collapse: collapse;
  cursor: pointer;
  height: 25px
}

.xdsoft_scrollbar {
  position: absolute;
  width: 7px;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: pointer
}

.admin_tag_widget ul.tagit li.tagit-choice-editable {
  padding: 0 0 0 23px
}

.ui-front {
  z-index: 1000
}

.tagit-close .ui-icon-close {
  margin-right: 1em;
  text-indent: 0;
  background: none
}

.u-arrow--tl:before {
  bottom: 100%;
  right: 1rem
}


.nice-padding {
  padding-right: 20px;
  padding-left: 20px
}

@media screen and (min-width:50em) {
  .nice-padding {
    padding-right: 50px;
    padding-left: 50px
  }
}

@media screen and (min-width:50em) {
  .divider-before {
    border-right: 1px solid #e6e6e6
  }
  .divider-after {
    border-left: 1px solid #e6e6e6
  }
}


.unlist {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0
}
